@import '~static/css/variables.scss';

.example {
    div {
        text-align: center;
        p {
            margin: 20px;
            font-size: 2em;
            color: $lightblue;
            font-weight: bold;
        }
        button {
            font-size: 1em;
            border: none;
            color: white;
            background: $darkblue;
            padding: 10px;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
            outline: none;
            cursor: pointer;
            transition: background 0.3s ease;
            &:hover {
                background: $lightblue;
            }
        }
    }
}